<template>
  <v-layout row wrap justify-space-between>
    <v-flex xs12 md6 lg6>
      <v-card class="ma-2" tile>
        <v-data-table :headers="headers" :loading="loading" :items="pesagens">
          <template v-slot:item.data="{ item }">{{ item.data | moment("DD MM YYYY")}}</template>
          <template v-slot:item.imc="{ item }">
            <v-chip>{{imc(item.peso, perfil.altura)}}</v-chip>
          </template>
        </v-data-table>
      </v-card>
    </v-flex>

    <v-flex xs6 md3 lg3>
      <v-card class="ma-2" tile>
        <v-card-title primary-title>Ultima Pesagem</v-card-title>
        <v-card-text>
          <template v-if="!!last.length">
            <v-list>
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title v-text="'Data: ' + last[0].data"></v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title v-text="'Peso: ' + last[0].peso"></v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title v-text="'IMC: ' + imc(last[0].peso, perfil.altura)"></v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title v-text="'Físico: ' + fisico(imc(last[0].peso, perfil.altura))"></v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </template>
          <template v-else>
            <v-list>
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title>Sem pesagens ainda</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </template>
        </v-card-text>
      </v-card>
    </v-flex>

    <v-flex xs6 md3 lg3>
      <v-card class="ma-2" tile>
        <v-card-title primary-title>Objetivo</v-card-title>
        <v-card-text>
          <v-list>
            <v-list-item>
              <v-list-item-content>
                <v-list-item-title v-text="'Peso ' + perfil.objetivo + ' kg'"></v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <v-list-item>
              <v-list-item-content>
                <v-list-item-title v-text="'IMC: ' +imc(perfil.objetivo, perfil.altura)"></v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <v-list-item>
              <v-list-item-content>
                <v-list-item-title
                  v-text="'Fisico: ' + fisico(imc(perfil.objetivo, perfil.altura))"
                ></v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import { mapState, mapActions } from "vuex";
import * as foco from "../../foco";

export default {
  data: () => ({
    headers: [
      {
        text: "Data da pesagem",
        align: "left",
        sortable: false,
        value: "data"
      },
      { text: "Peso kg", value: "peso" },
      { text: "Data Hora cadastro", value: "datetime" },
      { text: "IMC", value: "imc" },
      { text: "Meta", value: "meta" }
    ],
    loading: true
  }),
  methods: {
    ...mapActions("pesagem", ["ActionListPesagens"]),
    ...mapActions("perfil", ["ActionGetPerfil"]),
    imc(peso, altura) {
      return foco.imc(peso, altura);
    },
    fisico(imc) {
      return foco.fisico(imc);
    }
  },
  computed: {
    ...mapState("auth", ["uid"]),
    ...mapState("pesagem", ["pesagens", "last"]),
    ...mapState("perfil", ["perfil"])
  },
  mounted() {
    this.ActionListPesagens(this.uid);
    this.loading = false;
    this.ActionGetPerfil(this.uid);
  }
};
</script>
