<template>
  <v-layout row wrap>
    <v-flex xs12>
      <v-card class="text-center elevation-2 pa-12 headline ma-5 pa-5">
        <v-card-title class="text-center">Perfil do Usuário</v-card-title>
        <v-card-text v-if="hasPerfil()">
          <p
            class="text-center display-3 light-blue--text accent-1"
          >{{perfil.altura + ' de altura'}}</p>
          <p class="text-center display-3 light-blue--text accent-2">{{perfil.idade + ' Anos'}}</p>
          <p class="text-center display-3 light-blue--text accent-2">{{'Sexo ' + perfil.sexo}}</p>
          <p
            class="text-center display-3 light-blue--text accent-2"
          >{{'Peso inicial ' + perfil.peso + ' kg'}}</p>

          <p
            class="text-center display-3 light-blue--text accent-2"
          >{{'Objetivo ' + perfil.objetivo + ' kg'}}</p>
        </v-card-text>
        <v-card-text v-else>
          <p class="text-center display-3 orange--text accent-4">Não Iformado</p>
        </v-card-text>
        <v-card-actions class="text-center">
          <add-perfil :haperfil="hasPerfil()"></add-perfil>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import {  mapState, mapGetters } from "vuex";
import AddPerfil from "../../components/AddPerfil";

export default {
  name: "Perfil",
  data: () => ({
    form: {
      idade: "30",
      altura: "1,77",
      sexo: "Masculino"
    }
  }),
  methods: {
    ...mapGetters("perfil", ["hasPerfil"])
  },
  computed: {
    ...mapState("auth", ["uid"]),
    ...mapState("perfil", ["perfil"])
  },
  components: {
    AddPerfil
  }
};
</script>

<style>
</style>
