<template>
  <v-layout justify-center>
    <v-btn color="amber darken-1" dark tile @click="dialog = true">
      Pesagem
      <v-icon>fa-balance-scale-left</v-icon>
    </v-btn>
    <v-dialog v-model="dialog" persistent max-width="300px">
      <v-card>
        <v-card-title>
          <span class="headline">Adicionar pesagem</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <date-picker @data-selecionada="setData" />
              </v-flex>
              <v-flex xs12>
                <v-text-field v-model="form.peso" label="Peso * kg" type="tel" required></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialog = false">Fechar</v-btn>
          <v-btn color="blue darken-1" text @click="salvar">Salvar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import DatePicker from "./global/DatePicker";
import { mapActions, mapState } from "vuex";

export default {
  name: "AddPesagem",
  data: () => ({
    form: {
      userId: 0,
      data: "",
      peso: 0,
      datetime: 0
    },
    dialog: false
  }),
  components: {
    DatePicker
  },
  methods: {
    ...mapActions("pesagem", ["ActionSavePesagem"]),
    async salvar() {
      this.form.userId = this.uid;
      this.form.datetime = new Date().getTime();
      try {
        await this.ActionSavePesagem(this.form);
        this.$root.$emit("Notification::show", {
          tipo: "success",
          message: "Salvo com sucesso!"
        });
      } catch (error) {
        console.log("AddPesagem: ", error);
        this.$root.$emit("Notification::show", {
          tipo: "error",
          message: "Houve erro ao salvar!"
        });
      } finally {
        this.dialog = false;
      }
    },
    setData(payload) {
      this.form.data = payload;
    }
  },
  computed: {
    ...mapState("auth", ["uid"])
  }
};
</script>