<template>
  <v-layout justify-center>
    <v-btn color="green accent-44" dark tile @click="dialog = true">
      <template v-if="haperfil">Atualizar</template>
      <template v-else>ADICIONAR</template>
    </v-btn>
    <v-dialog v-model="dialog" persistent max-width="300px">
      <v-card>
        <v-card-title>
          <span class="headline">Adicionar perfil</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs6>
                <v-text-field v-model="form.altura" label="Altura cm" type="number" required></v-text-field>
              </v-flex>
              <v-flex xs6>
                <v-text-field v-model="form.idade" label="Idade kg" type="number" required></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-radio-group color="primary" dark v-model="form.sexo">
                  <v-radio xs6 label="Masculino" color="primary" value="Masculino"></v-radio>
                  <v-radio xs6 label="Feminino" color="primary" value="Feminino"></v-radio>
                </v-radio-group>
              </v-flex>
              <v-flex xs6>
                <v-text-field v-model="form.peso" label="Peso atual * kg" type="tel" required></v-text-field>
              </v-flex>
              <v-flex xs6>
                <v-text-field
                  v-model="form.objetivo"
                  label="Peso desejado * kg"
                  type="tel"
                  required
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialog = false">Fechar</v-btn>
          <v-btn color="blue darken-1" text @click="salvar">Salvar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  name: "AddPerfil",
  props: ["haperfil"],
  data: () => ({
    form: {
      id: "",
      altura: "",
      idade: 0,
      sexo: "Masculino",
      peso: 0,
      objetivo: 0
    },
    dialog: false
  }),
  methods: {
    ...mapActions("perfil", ["ActionSalvaPerfil"]),
    async salvar() {
      try {
        await this.ActionSalvaPerfil({ uid: this.uid, form: this.form });
        this.$root.$emit("Notification::show", {
          tipo: "success",
          message: "Salvo com sucesso!"
        });
      } catch (error) {
        console.log("AddPerfil ", error);
        this.$root.$emit("Notification::show", {
          tipo: "error",
          message: "Houve erro ao salvar!"
        });
      } finally {
        this.dialog = false;
      }
    }
  },
  computed: {
    ...mapState("auth", ["uid"])
  }
};
</script>