<template>
  <v-app dark>
    <alerta-notification></alerta-notification>
    <base-spinner></base-spinner>

    <v-navigation-drawer v-model="drawer" app v-if="isLogged()">
      <v-list-item>
        <v-list-item-content text-center>
          <v-avatar>
            <img :src="user.photoURL" alt="John" />
          </v-avatar>

          <v-list-item-title class="title text-center">{{user.displayName}}</v-list-item-title>
          <v-list-item-subtitle class="text-center">ativo</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>

      <v-list-item>
        <v-list-item-content>
          <add-pesagem></add-pesagem>
        </v-list-item-content>
      </v-list-item>
      <v-divider></v-divider>
      <v-list dense nav>
        <v-list-item v-for="(item, index) in routerLinks" :key="index" :to="item.path">
          <v-list-item-icon>
            <v-icon :color="item.meta.color">{{item.meta.icon}}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{item.meta.title}}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app v-if="isLogged()">
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title class="headline text-uppercase">
        <span>FOCO LEVE</span>
        <span class="font-weight-light">Disciplina para saúde</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <profile class="mt-3" />
        <signout />
      </v-toolbar-items>
    </v-app-bar>

    <v-content>
      <v-container fluid>
        <router-view></router-view>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import BaseSpinner from "./components/global/BaseSpinner";
import Signout from "./views/auth/Signout";
import AddPesagem from "./components/AddPesagem";
import AlertaNotification from "./components/global/AlertaNotification";
import Profile from "./components/Profile";
import { mapGetters, mapState } from "vuex";

export default {
  name: "App",
  data: () => {
    return {
      drawer: null
    };
  },
  components: {
    AlertaNotification,
    BaseSpinner,
    Signout,
    AddPesagem,
    Profile
  },
  methods: {
    ...mapGetters("auth", ["isLogged"])
  },
  computed: {
    ...mapState("auth", ["user"]),
    routerLinks() {
      return this.$router.options.routes.filter(r => r.name !== "login");
    }
  },
  created() {
    this.$vuetify.theme.dark = true;
  },
  mounted() {
    setTimeout(() => {
      this.$root.$emit("Spinner::hide");
    }, 300);
  }
};
</script>
