<template>
  <v-btn text @click="logOut">
    <v-icon>fa-sign-out-alt</v-icon>
  </v-btn>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "Signout",
  methods: {
    ...mapActions("auth", ["ActionSignOut"]),
    async logOut() {
      try {
        await this.ActionSignOut();
        this.$router.push({ name: "login" });
      } catch (error) {
        console.log(error);
      }
    }
  }
};
</script>

