<template>
  <v-layout justify-center>
    <v-btn color="teal" dark fab small class="mx-2" @click="dialog = true">
      <v-icon dark>fa-user-plus</v-icon>
    </v-btn>
    <v-dialog v-model="dialog" persistent max-width="500px" tile>
      <v-stepper v-model="el">
        <v-stepper-header>
          <v-stepper-step :complete="el > 1" step="1" editable>Email e senha</v-stepper-step>
          <v-divider></v-divider>
          <v-stepper-step step="2">Nome</v-stepper-step>
        </v-stepper-header>
        <v-stepper-items>
          <v-stepper-content step="1">
            <v-card tile>
              <v-card-title>
                <span class="headline">Cadastrar usuário</span>
              </v-card-title>
              <v-card-text>
                <v-container grid-list-md>
                  <v-layout wrap>
                    <v-flex xs12>
                      <v-text-field v-model="email" label="Email*" required></v-text-field>
                    </v-flex>
                    <v-flex xs12>
                      <v-text-field v-model="password" label="Password*" type="password" required></v-text-field>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="dialog = false">Close</v-btn>
                <v-btn color="blue darken-1" text @click="doCreateUser">Próximo</v-btn>
              </v-card-actions>
            </v-card>
          </v-stepper-content>
          <v-stepper-content step="2">
            <v-card tile>
              <v-card-title>
                <span class="headline">Cadastrar usuário</span>
              </v-card-title>
              <v-card-text>
                <v-container grid-list-md>
                  <v-layout wrap>
                    <v-flex xs12>
                      <v-text-field v-model="nome" label="Nome *"></v-text-field>
                    </v-flex>
                    <v-flex xs12>
                      <v-file-input v-model="file.files" label="Foto de perfil"></v-file-input>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="saveProfile">Próximo</v-btn>
              </v-card-actions>
            </v-card>
          </v-stepper-content>
        </v-stepper-items>
      </v-stepper>
    </v-dialog>
  </v-layout>
</template>

<script>
import { mapActions, mapState } from "vuex";
import * as store from "../../firebase/storage";

export default {
  name: "Signup",
  data: () => ({
    email: "",
    password: "",
    dialog: false,
    el: 1,
    nome: "",
    file: {
      uid: "",
      fileName: "",
      files: []
    }
  }),
  methods: {
    ...mapActions("auth", ["ActionCreateUser", "ActionPutUser"]),
    async doCreateUser() {
      try {
        await this.ActionCreateUser({
          email: this.email,
          password: this.password
        });

        this.el = 2;
        // this.$router.push({ name: "login" });
      } catch (error) {
        let message;
        console.log("Signup: ", error);
        switch (error.code) {
          case "auth/email-already-in-use":
            message = "E-mail já usado em outra conta!";
            break;
          case "auth/invalid-email":
            message = "E-mail inválido!";
            break;
          default:
            message = "Erro ao cadastrar! ";
            break;
        }
        this.$root.$emit("Notification::show", {
          tipo: "error",
          message
        });
        this.dialog = false;
      }
    },
    async saveProfile() {
      this.file.fileName = new Date().getTime();
      this.file.uid = this.uid;

      store.StoreSaveImage(this.file).then(url => {
        const payload = {
          nome: this.nome,
          url: url
        };
        this.ActionPutUser(payload);
        this.dialog = false;
        this.$router.push({ name: "home" });
      });
    }
  },
  computed: {
    ...mapState("auth", ["user", "uid"])
  }
};
</script>